<header class="navbar-fixed">
  <nav class="grey darken-3">
    <div class="nav-wrapper container ">
      <%= link_to "Marketplace", root_path, class: "brand-logo" %>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <%= link_to 'Vendi Contenuto', new_content_path %>


        <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
        <% else %>
            <li><%= link_to "Login", new_user_session_path  %></li>
            <li><%= link_to "Registrati", new_user_registration_path  %></li>
        <% end %>


      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
        <% else %>
            <li><%= link_to "Login", new_user_session_path  %></li>
            <li><%= link_to "Registrati", new_user_registration_path  %></li>
            <li><%= link_to 'Vendi Contenuto', new_content_path %></li>
        <% end %>

      </ul>
    </div>
  </nav>
</header>
